* {
  margin: 0;
}
#text {
  color: gold;
}
#text:hover {
  color: red;
}

body {
  margin: 0;
}
.contanier {
  display: flex;
  justify-content: center;
}

.display {
  margin: 1.3rem 0rem;
}
nav {
  background-color: black;
  color: gold;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-shadow: wheat;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
li {
  margin: 1rem 3rem;
}
a {
  text-decoration: none;
  color: gold;
}
a:hover {
  text-decoration: none;
  color: rgb(255, 77, 0);
}
#Input,
#Result {
  text-align: end;
  color: white;
}
.Number {
  background-color: grey;
  width: 8.15rem;
  border: 1px black solid;
  border-radius: 0.3rem;
  color: white;
  height: 2rem;
  font-size: 1.5rem;
}
.Number:hover {
  background-color: rgb(101, 99, 99);
}

#Input,
#Result {
  width: 32.2rem;
  position: relative;
  top: 1.1rem;
  text-align: end;
  background-color: #9993bd3d;
  border: 1px black thick;
  border-radius: 7px;
  border-width: 2px;
  border: 2px black solid;
  height: 1.5rem;
  font-size: 1.2rem;
}
.clear {
  background-color: red;
  font-size: 1.5rem;
}
.clear:hover {
  background-color: black;
  color: white;
}
.operator {
  width: 8.15rem;
  border: 2px black solid;
  border-radius: 0.3rem;
  border-width: 2px;
  height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.operator:hover {
  background-color: #a8a3a391;
}

#del {
  background-color: #1bbc1b;
  font-family: "Segoe MDL2 Assets";
  font-size: 1.1rem;
}
#del:hover {
  background-color: rgb(12, 239, 12);
}
.calculate {
  background-color: white;
  width: 32.7rem;
  border: 3px black solid;
  border-radius: 7px;
  margin-top: 4px;
  height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.calculate:hover {
  background-color: gray;
}
h1.textname {
  margin: 5rem 0rem 2rem 9rem;
  display: inline-block;
  color: lime;
  background: repeating-radial-gradient(black, transparent 100px);
  width: 14rem;
  height: 3rem;
  text-align: center;
  border-radius: 17px;
  padding: 12px;
}
#footer {
  margin: 0px 0px;
  position: relative;
  top: 14rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
}
.hr1 {
  margin: 0rem 0px;
  border: 2px red solid;
}
@media (max-width: 800px) {
  #radiobtn {
    position: relative;
    left: 1rem;
  }
  lable {
    position: relative;
    left: 1rem;
  }
  li {
    padding: 0rem 1rem 0rem 0rem;
    margin: 1rem 0rem;
    font-size: 15px;
  }
  .abouttext {
    width: 24rem;
    margin: 2rem auto;
    -webkit-text-stroke-width: thin;
    font-size: 1rem;
    font-weight: lighter;
  }
  ul {
    list-style: none;
    display: flex;
    text-shadow: wheat;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0rem;
    position: relative;
    right: 1rem;
  }
  h1.textname {
    margin: 2rem 0rem 0rem 4rem;
    display: inline-block;
    color: lime;
    background: repeating-radial-gradient(black, transparent 100px);
    width: 12rem;
    height: 3rem;
    text-align: center;
    border-radius: 17px;
    padding: 8px;
  }
  .operator {
    width: 5.15rem;
    border: 2px black solid;
    border-radius: 0.3rem;
    border-width: 2px;
    height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .Number {
    background-color: grey;
    width: 5.15rem;
    border: 2px black solid;
    border-radius: 0.3rem;
    color: white;
    height: 2rem;
    font-size: 1.5rem;
  }
  .calculate {
    background-color: white;
    width: 20.7rem;
    border: 3px black solid;
    border-radius: 7px;
    margin-top: 4px;
    height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #Input,
  #Result {
    width: 20.3rem;
    position: relative;
    top: 1.1rem;
    text-align: end;
    background-color: #9993bd3d;
    border: 1px black thick;
    border-radius: 7px;
    border-width: 2px;
    border: 2px black solid;
    height: 1.5rem;
    font-size: 1.2rem;
  }
  .navbar-dark .navbar-brand {
    color: gold;
  }
}
